.screenplay-header {
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.screenplay-title-display {
  font-size: 20px;
  font-weight: bold;
  cursor: text;
  display:  inline-block;
  margin-left: 18px;
}

.screenplay-title-input {
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  font-family: inherit;
  cursor: text;
}


.screenplay-header-buttons button {
    margin: 12px 0 12px 6px;
}

.editor-container {
    width: 100vw;
}

.screenplay-content-editor {
    height: 95vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
}

.screenplay-content-toolbar {
    /* height: 5vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.screenplay-editor-container {
    display: block;
    width: 1040px;
}

.editor-box {
  border: 1px solid #ccc;
  height: 90vh;
  color:black;
  font-size: 12pt;
  padding: 10vh 10vh 14vh 10vh;
  margin-left: 12px;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
}

.slugline-format {
    font-weight: bolder;
    margin-left: 112px;
    text-transform: uppercase;
}

.action-format {
    font-weight: 400;
    margin-left: 112px;
}

.keyword-format {
    font-weight: 400;
    text-transform: uppercase;
}

.character-format {
    font-weight: bolder;
    margin-left: 336px;
    text-transform: uppercase;
}

.parenthetical-format {
    font-weight: 400;
    margin-left: 320px;
    text-transform: uppercase;
}

.dialogue-format {
    font-weight: 400;
    margin-left: 230px;
    margin-bottom: 24px;
}

.transition-format {
    font-weight: 400;
    text-align: right;
    margin-right: 12px;
    text-transform: uppercase;
}

.montage-format {
    font-weight: 400;
    margin-left: 12px;
    text-transform: uppercase;
}

.flashback-format {
    font-weight: 400;
    margin-left: 12px;
    text-transform: uppercase;
}

.text_on_screen-format {
    font-weight: 400;
    margin-left: 12px;
    text-transform: uppercase;
}